.index-banner {
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
  background-size: cover;
  width: 100%;
  height: 70%;
}

.login-main {
  z-index: 999;
  position: absolute;
  left: 75%;
  top: 20%;
  background-color: #fff;
}

.focus-content-container {
  z-index: 999;
  bottom: 35%;
  position: absolute;
  left: 50%;
  margin-left: -52px;
}

.focus-content-item {
  margin: 0;
  width: auto;
  list-style: none;
  float: left;
  padding: 0 8px;
}

.focus-anchor {
  height: 8px;
  display: block;
  width: 8px;
  border: 1px solid #fff;
  background: #fff;
  border-radius: 5px;
  opacity: .5;
}

