body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 100;
  color: #333;
}

.top {
  width: 100%;
  background: #eff4f8;
  ;
  position: fixed;
  top: 0;
  left: 0;
}

.top-table {
  width: 100%;
  text-align: center;
  color: #333;
  font-size: 26px;
  font-weight: 200;
}

.frame-main {
  width: 90%;
  height: 85%;
  position: fixed;
  top: 40px;
  left: 10px;
}

.copyright {
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 10px;
  font-weight: 100;
  color: #7a77c8;
  font-size: 14px;
}

#frame-file,
#frame-move {
  overflow: auto;
  margin-left: 1%;
  margin-top: 1%;
}